
@{
    ViewData["Title"] = "About Us | RechargeZap";
    Layout = "~/Views/Shared/SharedLayoutNewDesign.cshtml";
}
<section class="sec-breadcrumb">
    <div class="page-title text-center">
        <h1>About Us</h1>
    </div>
</section>
<section style="background-color: #f8f9fa;">

    <div class="container-fluid">
        <div class="inner-content">
            <div class="title-rw">
                <h2 class="title">About Us</h2>
                <div class="title-line"></div>
            </div>
            <div class="paragraph">
                <p>
                    RechargeZap is one of India's first multi mobile operator, instant pre-paid recharge portal.
                    RechargeZap provides recharge service for all major prepaid mobile service providers in India.
                    We aim at empowering our users by providing quick and convenient prepaid mobile recharge as well
                    as DTH recharge. RechargeZap is completely reliable in terms of services and security. We at
                    RechargeZap believe that customer satisfaction should be the primary objective of any successful
                    company.
                </p>
            </div>
            <!-- ************************** -->
            <div class="title-rw">
                <h2 class="title">Office Address</h2>
                <div class="title-line"></div>
            </div>
            <div class="paragraph">
                <p>
                    <strong>RechargeZap</strong><br>Orion Techno Age OPC Pvt Ltd<br>
                    H213, Sector 63,<br>
                    Noida, UP - 201301<br>
                    Email: care@rechargezap.in
                </p>
            </div>
        </div>
    </div>
</section>