@model RechargeZapSoftCore.Models.clsRecharge
@{
    ViewData["Title"] = "Online Mobile Recharge - Bill Payments & Prepaid Recharge on RechargeZap";
    Layout = "~/Views/Shared/SharedLayoutNewDesign.cshtml";
}
<h1>Pending</h1>

payment status : @ViewBag.PaymentStatus
gateway response : @ViewBag.PaymentGayewayResponse
 Action : @ViewBag.ActionName