
@{
    ViewData["Title"] = "Refund Policy | RechargeZap";
    Layout = "~/Views/Shared/SharedLayoutNewDesign.cshtml";
}

<section class="sec-breadcrumb">
    <div class="page-title text-center">
        <h1>Refund and Cancellation</h1>
    </div>
</section>
<section style="background-color: #f8f9fa;">

    <div class="container-fluid">
        <div class="inner-content">
            <div class="title-rw">
                <h2 class="title">Refund Policy</h2>
                <div class="title-line"></div>
            </div>
            <div class="paragraph">
                <p>
                    RechargeZap.in reserves the right to charge convenience fees for certain or all recharges, as
                    well as transaction fees based on certain completed transactions using the services.
                    RechargeZap.in further reserves the right to alter any or all fees from time to time, without
                    notice. The User shall be completely responsible for all charges, fees, duties, taxes, and
                    assessments arising out of the use of the services.
                </p>
                <p>
                    In the rare cases if the recharge is not successful for any reason whatsoever, the debited amount
                    will be automatically refunded to the RechargeZap.in E-Wallet of the user. RechargeZap processes
                    all refunds automatically without any human intervention. The refunds will be credited to your
                    E-Wallet at RechargeZap.in. You can login to your RechargeZap account through your email ID used
                    during the payment and OTP. You can use your refunded amount to make a new recharge.
                </p>
            </div>
            <!--****************************** -->
            <div class="title-rw">
                <h2 class="title">Who will get a refund?</h2>
                <div class="title-line"></div>
            </div>
            <div class="paragraph">
                <p>
                    RechargeZap will process a refund if the payment was successful and the user did not receive the
                    recharge, in such cases RechargeZap will refund the money back to the user’s RechargeZap
                    E-Wallet. The user can use the amount to make a new recharge.
                </p>
                <p>
                    <strong>Note:</strong> RechargeZap will not be responsible for wrong recharges due to any
                    incorrect information
                    provided by the user. In all such cases no refund will be provided to the user.
                </p>
            </div>
            <!--****************************** -->
            <div class="title-rw">
                <h2 class="title">Not received a refund?</h2>
                <div class="title-line"></div>
            </div>
            <div class="paragraph">
                <p>
                    In many rare cases if you have not received the recharge and the refund has also not been
                    provided to your E-Wallet, you can request for a refund by contacting our customer support at
                    <strong>care@rechargezap.in</strong>.
                </p>
            </div>
            <!--****************************** -->
        </div>
    </div>

</section>


