@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Online Water Bill Payment | Get Offers & Deals on Water Bill Payment on RechargeZap";
    Layout = "~/Views/Shared/SharedLayoutNewDesign.cshtml";
}

<section class="main-banner">
    <div class="container-fluid">
        <div class="main-recharge-row">
            <div class="recharge-options">
                <div class="recharge-items">
                    <ul>
                        <li>
                            <a href="/home/recharge">
                                <img src="~/new2/img/icon/mobile-phone.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/1.png" alt="Recharge" class="icon-active" />
                                <span> Recharge</span>
                            </a>
                        </li>
                        <li>
                            <a href="/home/dth">
                                <img src="~/new2/img/icon/television.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/2.png" alt="Recharge" class="icon-active" />
                                <span> DTH</span>
                            </a>
                        </li>
                        <li>
                            <a href="/home/Broadband">
                                <img src="~/new2/img/icon/sim-card.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/3.png" alt="Recharge" class="icon-active" />
                                <span> Data Card</span>
                            </a>
                        </li>
                        <li>

                            <a href="/Home/Landline">
                                <img src="~/new2/img/icon/landlinee.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/4.png" alt="Recharge" class="icon-active" />
                                <span> Landline</span>
                            </a>
                        </li>

                        <li>
                            <a href="/Home/Broadband">
                                <img src="~/new2/img/icon/internet.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/5.png" alt="Recharge" class="icon-active" />
                                <span> Broadband</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Cylinder">
                                <img src="~/new2/img/icon/gas-tank.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/6.png" alt="Recharge" class="icon-active" />
                                <span> Cylinder</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/gas">
                                <img src="~/new2/img/icon/stove.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/7.png" alt="Recharge" class="icon-active" />
                                <span> Piped Gas</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Electricity">
                                <img src="~/new2/img/icon/light-bulb.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/8.png" alt="Recharge" class="icon-active" />
                                <span> Electricity</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/Home/water">
                                <img src="~/new2/img/icon/water-tap.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/9.png" alt="Recharge" class="icon-active" />
                                <span> Water</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Fastag">
                                <img src="~/new2/img/icon/toll.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" />
                                <span> FASTag</span>
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="d-more-serv">
                                <img src="~/new2/img/icon/menu.png" alt="Recharge" class="icon-inactive" />
                                <img src="~/new2/img/icon/active/11.png" alt="Recharge" class="icon-active" />
                                <span> More+</span>
                            </a>

                            <div class="d-more-service">
                                <div class="d-inner">
                                    <div class="d-service-col">
                                        <a href="/Home/Insurance">
                                            <img src="~/new2/img/icon/insurance.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Insurance</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/credit-card.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Credit Card</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/cable.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Cable</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/loan.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Loan</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/education.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Education Fees</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/housing.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Housing Society</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/hospital.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Hospital</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/muncipal.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Municipal Services</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/challan.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Challan</span>
                                        </a>
                                    </div>
                                    <div class="d-service-col">
                                        <a href="#!">
                                            <img src="~/new2/img/icon/metro.png" alt="Recharge" class="icon-inactive" />
                                            <!-- <img src="~/new2/img/icon/active/10.png" alt="Recharge" class="icon-active" /> -->
                                            <span> Metro</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-field-area">
                <div class="container-fluid" style="padding:0px 30px;">
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="form-area-box home-bg-grey">
                                <form>
                                    <div class="main-banner-title">
                                        <h1>Water Bill Payment Online</h1>
                                        <img src="~/new2/img/bharat-bill.png">
                                    </div>

                                    <div class="form-area home-frm" id="divoperator">
                                        <!-- <label class="label-title">Operator</label> -->
                                        <select id="ddoperatorelectricity"></select>
                                    </div>
                                    <div class="form-area home-frm" id="divconsumerno" style="display:none;margin-bottom:3px;">
                                        <!-- <label class="label-title">Circle</label> -->
                                        <input type="text" id="consumerno" style="text-transform:uppercase" autocomplete="off" placeholder="Consumer No">

                                        @*<input type="text" name="" placeholder="Vehicle Registration Number" required />*@
                                    </div>
                                    <div>
                                        <label id="lbldisplaynote" style="font-size:11px;color:#086b3b;margin-bottom:10px;">  </label>
                                    </div>
                                    <input type="hidden" id="optional1Type" value="">
                                    <input type="hidden" id="optional2Type" value="">
                                    <input type="hidden" id="optional3Type" value="">
                                    <input type="hidden" id="optional4Type" value="">

                                    <div class="form-area home-frm" id="divoptional1" style="display:none">
                                        <!-- <label class="label-title">Circle</label> -->
                                        <input type="text" id="optional1" style="text-transform:uppercase;display:none" autocomplete="off" placeholder="">
                                        <select id="ddoptional1"></select>
                                    </div>
                                    <div class="form-area home-frm" id="divoptional2" style="display:none">
                                        <!-- <label class="label-title">Circle</label> -->
                                        <input type="text" id="optional2" style="text-transform:uppercase;display:none" autocomplete="off" placeholder="">
                                        <select id="ddoptional2"></select>
                                    </div>
                                    <div class="form-area home-frm" id="divoptional3" style="display:none">
                                        <!-- <label class="label-title">Circle</label> -->
                                        <input type="text" id="optional3" style="text-transform:uppercase;display:none" autocomplete="off" placeholder="">
                                        <select id="ddoptional3"></select>
                                    </div>
                                    <div class="form-area home-frm" id="divoptional4" style="display:none">
                                        <!-- <label class="label-title">Circle</label> -->
                                        <input type="text" id="optional4" style="text-transform:uppercase;display:none" autocomplete="off" placeholder="">
                                        <select id="ddoptional4"></select>
                                    </div>

                                    <div class="form-area home-frm" id="divAmount" style="display:none">
                                        <!-- <label class="label-title">Mobile Number*</label> -->
                                        <span><i class="fa-solid fa-indian-rupee-sign"></i></span>
                                        @* <input type="text" name="" placeholder="599.00" required />*@
                                        <input type="number" class="newnumbertype" readonly style="width:70%;" onkeypress="return isNumber(event)" id="ElectricityAmount" placeholder="Amount">

                                    </div>
                                    <div id="divdetail" class="form-area home-frm" style="display:none;height:150px;">
                                        <h6 class="text-center">Bill Details</h6>

                                        <label id="lblname" style="font-size:12px;"> </label>
                                        <br />
                                        <label id="lblbilldate" style="font-size:12px;"> </label>
                                        <br />
                                        <label id="lblduedate" style="font-size:12px;"> </label>
                                    </div>
                                    <div id="diverrormessage" style="display:none">
                                        <label id="lblerror" style="color:darkred;font-size:12px;"> </label>
                                    </div>



                                    <div class="form-area-btn">
                                        @*<button type="submit">Proceed</button>*@
                                        <input type="button" class="submitbtn" id="btnrechargefetch" value="Proceed to Pay Bill" onclick="return  validateFastagRechargeFetch();" />
                                        <input type="button" class="submitbtn" id="btnrecharge" style="display:none;" value="Proceed to Pay Bill" onclick="return  validateFastagRecharge();" />

                                    </div>



                                </form>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="banner-slider">
                                <img src="~/new2/img/small-banner/electricity.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Operators -->
<section class="operators-sec">
    <div class="container-fluid">
        <div class="operators-bx">
            <div class="title-rw">
                <h6 class="title">Popular Operators</h6>
                <div class="title-line"></div>
            </div>
            <div class="operators-row">
                <div class="operators-col">
                    <div class="operators-data">
                        <img src="~/new2/img/water/BWSSB0000KAR01.webp" alt="" />
                    </div>
                </div>
                <div class="operators-col">
                    <div class="operators-data">
                        <img src="~/new2/img/water/DELH00000DEL6Q.webp" alt="" />
                    </div>
                </div>
                <div class="operators-col">
                    <div class="operators-data">
                        <img src="~/new2/img/water/DLJB00000DEL01.webp" alt="" />
                    </div>
                </div>
                <div class="operators-col">
                    <div class="operators-data">
                        <img src="~/new2/img/water/HMWSS0000HYD01.webp" alt="" />
                    </div>
                </div>
                <div class="operators-col">
                    <div class="operators-data">
                        <img src="~/new2/img/water/MUNI00000CHANI.webp" alt="" />
                    </div>
                </div>
                <div class="operators-col">
                    <div class="operators-data">
                        <img src="~/new2/img/water/PRAY00000ALLXR.webp" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Operators -->
<!-- Section Start-->
<section style="background-color: #f5f5f5;" class="m-inner-sec">
    <div class="container-fluid">
        <div class="title-rw">
            <h2 class="title">Complete your water bill payment before the water drops run out</h2>
            <div class="title-line"></div>
        </div>
        <div class="paragraph">
            <p>
                Now paying your water bills has become very easy and a matter of minutes.  You can pay your water bill in just a few clicks.  All you need is a smartphone and internet access and your payment is almost done. RechargeZap provides one such water bill payment option in which you do not have to wait for hours to pay your water bill.  You can make your water bill payment before the last few drops of water run out. Isn't this a very surprising thing?  But yes, we have made it possible.  You do not have to worry about payment as well because RechargeZap gives you all the options that you prefer.  Like a debit card, credit card, UPI IDs, net banking, etc.  More than this, will you believe that you get all these benefits absolutely free?  Yes, you get all these bill payment options without losing a single penny with rechargeZap.
            </p>
        </div>
    </div>
</section>
<!-- Section End-->
<!-- Section Start-->
<section class="m-inner-sec">
    <div class="container-fluid">
        <div class="title-rw">
            <h2 class="title">No need to wait for water payment</h2>
            <div class="title-line"></div>
        </div>
        <div class="paragraph">
            <p>Today, when the life of every person is completely busy and engrossed in various tasks, in such a situation, it is very difficult to recharge various types of bills like electricity, gas booking / piped gas, landline, broadband etc.  But more than all these water bills also have to be paid because if the w. Paying water bills through paper bills and cheques is a very difficult and time-consuming task.  While solving this problem of yours, rechargeZap has brought a very simple and convenient way to complete your water bill payment. You can now pay your water bill instantly sitting at home and getting an uninterrupted water facility. Now you don't have to wait for your water bill payment. Pay your bill in just a few clicks and enjoy the facility of water without any interruption.</p>

        </div>
    </div>
</section>
<!-- Section End-->
<!-- why choose -->
<section class="why-choose-sec m-inner-sec">
    <div class="container-fluid">
        <div class="title-rw">
            <h2 class="title">
                Get the fully flexible and reliable water bill payment option with RechargeZap
            </h2>
            <div class="title-line"></div>
        </div>
        <div class="paragraph why-choose-para">
            <p>
                The online bill payment option is a very simple and beneficial option to pay your water bill.  Especially when a reliable and trustworthy platform like RechargeZap is available to serve you.  RechargeZap provides a very flexible and easy-to-use platform to its users so that they do not face any problems in paying any of their bills. If you have a smartphone and internet connection then you can complete all your water bill payments anytime and anywhere. That's why we keep it in the category of most flexible and reliable water bill payment. There is no risk of your money getting stuck on RechargeZap.
            </p>
        </div>

    </div>
</section>
<!-- why choose -->
<!-- Section Start-->
<section class="m-inner-sec">
    <div class="container-fluid">
        <div class="title-rw">
            <h2 class="title">
                Frequently Asked Questions
            </h2>
            <div class="title-line"></div>
        </div>

        <div class="faq-box">
            <div class="accordion" id="accordionExample">
                <div class="card faq-main">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 faq-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Do you use a secure and trusted payments gateway for your user's payments?
                            <i class="fa-solid fa-chevron-down"></i>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body faq-desc">
                            <p>
                                Of course, we take full care of the payment of our users, so we always use a completely secure and Safe Payment Gateway. At the same time, we use a server 24/7 Uptime. Therefore, you will not have to face any kind of problem-related to payment.  There is no chance of your payment being failed and canceled.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card faq-main">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0 faq-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Will I have to bear any additional charges for the water bill payment through RechargeZap?
                            <i class="fa-solid fa-chevron-down"></i>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body faq-desc">
                            <p>
                                No, we do not charge you any additional charges for our services. It means you do not need to pay any additional charges for your water bill payment.  All the information about your payment is written in your bill invoice, which you can check whenever you want.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card faq-main">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0 faq-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            In which state your Water bill payment options are available?
                            <i class="fa-solid fa-chevron-down"></i>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body faq-desc">
                            <p>
                                Our services are not limited to any one region or state.  We are always available for you in every corner of India.  You can pay your water bill from anywhere in India. You just need to choose your correct water supplier name and provide all the required information.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section End-->
<!-- Features-Section -->
<section class="m-inner-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="key-feature-col">
                    <div class="key-feature-img">
                        <img src="~/new2/img/shield.png" alt="" />
                    </div>
                    <h5>100% Secure Payments</h5>
                    <p>
                        Safeguarding personal information.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="key-feature-col">
                    <div class="key-feature-img">
                        <img src="~/new2/img/trust.png" alt="" />
                    </div>
                    <h5>Trust Pay</h5>
                    <p>
                        Guaranteed safe and secure checkout.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="key-feature-col">
                    <div class="key-feature-img">
                        <img src="~/new2/img/technical.png" alt="" />
                    </div>
                    <h5>Support</h5>
                    <p>
                        Have a query? We’re here to help.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features-Section -->
@section Scripts{
    <!-- Features-Section -->
    <script type="text/javascript">


      function validateFastagRechargeFetch() {
          if (document.getElementById("consumerno").value == "") {
              toastr.warning('Warning', 'Enter Consumer Number');
              document.getElementById("consumerno").focus();
              return false;
          }
          else if ($('#ddoperatorelectricity').find(":selected").val() == "0") {
              toastr.warning('Warning', 'Select Operator');
              document.getElementById("ddoperatorelectricity").focus();
              return false;
          }
          else {
              var consumerno = document.getElementById("consumerno").value;
              var optional1 = '';

              if (document.getElementById('optional1Type').value == 'textbox') {
                  optional1 = document.getElementById("optional1").value;

              }
              else if (document.getElementById('optional1Type').value == 'dropdown') {
                  optional1 = $('#ddoptional1').find(":selected").text();
              }
              else {
                  optional1 = '';
              }


              var operatorId = $('#ddoperatorelectricity').find(":selected").val();
              FetchDetails(consumerno, operatorId, optional1);
          }
    }


    function validateFastagRecharge() {
        if (document.getElementById("consumerno").value == "") {
            toastr.warning('Warning', 'Enter Consumer Number');
            document.getElementById("consumerno").focus();
            return false;
        }
        else if ($('#ddoperatorelectricity').find(":selected").val() == "0") {
            toastr.warning('Warning', 'Select Operator');
            document.getElementById("ddoperatorelectricity").focus();
            return false;
        }
        else if (document.getElementById("ElectricityAmount").value == "") {
            toastr.warning('Warning', 'Enter Amount');
            document.getElementById("ElectricityAmount").focus();
            return false;
        }
        else {
            document.getElementById("headerconfirm").innerHTML = "Water";
            document.getElementById("mobilenoheadingconfirm").innerHTML ="<i class='fa-solid fa-mobile-screen'></i> Consumer Number";

            document.getElementById("amountConfirm").value = document.getElementById("ElectricityAmount").value;
            document.getElementById("operatorConfirm").value = $('#ddoperatorelectricity').find(":selected").text();
                document.getElementById("mobileConfirm").value = document.getElementById("consumerno").value;
            document.getElementById("circleConfirm").value = $('#ddcircleelectricity').find(":selected").text();
            document.getElementById("customermobileConfirm").value = '';


            if (document.getElementById('optional1Type').value == 'textbox') {
                document.getElementById("optional1Confirm").value = document.getElementById("optional1").value;

            }
            else if (document.getElementById('optional1Type').value == 'dropdown') {
                document.getElementById("optional1Confirm").value = $('#ddoptional1').find(":selected").text();
            }
            else {
                document.getElementById("optional1Confirm").value = '';
            }

            if (document.getElementById('optional2Type').value == 'textbox') {
                document.getElementById("optional2Confirm").value = document.getElementById("optional2").value;

            }
            else if (document.getElementById('optional2Type').value == 'dropdown') {
                document.getElementById("optional2Confirm").value = $('#ddoptional2').find(":selected").text();
            }
            else {
                document.getElementById("optional2Confirm").value = '';
            }


            if (document.getElementById('optional3Type').value == 'textbox') {
                document.getElementById("optional3Confirm").value = document.getElementById("optional3").value;

            }
            else if (document.getElementById('optional3Type').value == 'dropdown') {
                document.getElementById("optional3Confirm").value = $('#ddoptional3').find(":selected").text();
            }
            else {
                document.getElementById("optional3Confirm").value = '';
            }


            document.getElementById("operatoridConfirm").value = $('#ddoperatorelectricity').find(":selected").val();

            //document.getElementById("circleConfirm").style.display = 'none';
            //document.getElementById("liCircledetail").style.display = 'none';

                var LoginEMail = '@HttpContextAccessor.HttpContext.Session.GetString("LoginEmail")';


            if (LoginEMail != '') {
                document.getElementById('divBalance').style.display = 'block';
                document.getElementById('divUsedBalance').style.display = 'block';
                showBalance();
            }
            else {
                document.getElementById('divBalance').style.display = 'none';
                document.getElementById('divUsedBalance').style.display = 'none';
            }


                showModal();


        }
    }
    function FetchDetails(consumerno, operatorId,optional1) {

        //alert(consumerno);
        //alert(operatorId);
        var jsondata = { 'vehiclenumber': consumerno, 'operatorId': operatorId, 'optional1': optional1 };
            //alert(jsondata);
            $.ajax({

                url: '/api/Recharge/fetchDetailsElectricity',
                data: JSON.stringify(jsondata),

                dataType: "json",
                type: 'POST',
                contentType: "application/json; charset=utf-8",

                success: function (result) {
                    //alert(result[0]);
                    //console.log(result.username);
                    //console.log(result[0]);
                    //document.getElementById('userbalancetop').innerHTML = result[0];
                    if (result[0] == '2') {
                        //alert(result[0]);
                        document.getElementById('divAmount').style.display = 'block';
                        //document.getElementById('divminmaxvalue').style.display = 'block';
                        document.getElementById('btnrechargefetch').style.display = 'none';
                        document.getElementById('btnrecharge').style.display = 'block';
                        document.getElementById('diverrormessage').style.display = 'none';

                        document.getElementById('divdetail').style.display = 'block';
                        //document.getElementById('divdetail2').style.display = 'block';
                        //document.getElementById('divdetail3').style.display = 'block';
                        document.getElementById('lblname').innerHTML = 'Name : ' + result[2];
                        document.getElementById('ElectricityAmount').value = result[3];
                        document.getElementById('lblbilldate').innerHTML = 'Bill Date : ' + result[4];
                        document.getElementById('lblduedate').innerHTML = 'Due Date : ' + result[5];



                        //document.getElementById('lblminvalue').innerHTML = result[2];
                        //document.getElementById('lblmaxvalue').innerHTML = result[3];
                    }
                    else {

                        //alert(result[0]);
                        //alert('error');
                        document.getElementById('divAmount').style.display = 'none';

                        //document.getElementById('divdetail2').style.display = 'none';
                        //document.getElementById('divdetail3').style.display = 'none';
                        //document.getElementById('divminmaxvalue').style.display = 'none';
                        document.getElementById('diverrormessage').style.display = 'block';

                        document.getElementById('divdetail').style.display = 'none';


                        document.getElementById('btnrechargefetch').style.display = 'block';
                        document.getElementById('btnrecharge').style.display = 'none';

                        document.getElementById('lblerror').innerHTML = result[1];
                    }

                },
                beforeSend: function () {
                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                    $('#AjaxLoader').show();
                },
                complete: function () {
                    $('#AjaxLoader').hide();
                }
            })
        }

    $(document).ready(function () {
        //alert('a');
        loadfastagoperator();
        //loadCircle();
    });



    function loadfastagoperator() {
        $('#ddoperatorelectricity').empty();

        $.ajax({

            url: '/api/Recharge/getOperatorWater',
            //data: "{ 'Amount': '" + depositeAmt  + "','userid': '" + '<%=Session["UserId"] %>'  + "','FromWalletAddress': '" + wallet_address  + "','ToWalletAddress': '" + contract_addr  + "','ReferenceId': '" + result  + "'}",
            data: "",
            dataType: "json",
            type: 'GET',
            contentType: "application/json; charset=utf-8",

            success: function (result) {
                //alert(result);
                //console.log(result.d);
                $('#ddoperatorelectricity').empty();
                $('#ddoperatorelectricity').append('<option value="0">Select Operator</option>');
                $.each(result, function (result, value) {

                    $("#ddoperatorelectricity").append($("<option></option>").val(value.id).html(value.operator));
                })
                //toastr.success('Success', result.d);

            },
            beforeSend: function () {
                                                                                    /*$("#ddoperatorelectricity").html('Loading...')*/;
                $('#ddoperatorelectricity').empty().append('<option>Loading...</option>');
            },
            complete: function () {
                // Code to hide spinner.
            }
        })
    }


    function validateRechargeconfirm() {
        if (document.getElementById("emailConfirm").value == "") {
            toastr.warning('Warning', 'Enter Email');
            document.getElementById("emailConfirm").focus();
            return false;
        }

        //else if (ValidateEmail(document.getElementById("emailConfirm"))==false)
        // {
        //     toastr.warning('Warning', 'Enter Valid Email');
        //     document.getElementById("emailConfirm").focus();
        //     return false;
        // }




        else if (document.getElementById("nameConfirm").value == "") {
            toastr.warning('Warning', 'Enter Name');
            document.getElementById("nameConfirm").focus();
            return false;
        }

        else if (document.getElementById("mobileConfirm").value == "") {
            toastr.warning('Warning', 'Enter Consumer No');
            document.getElementById("mobileConfirm").focus();
            return false;
        }
        if (document.getElementById("headerconfirm").innerHTML == 'Mobile Recharge') {
            if (document.getElementById("mobileConfirm").value.length != 10) {
                toastr.warning('Warning', 'Enter Valid Number');
                document.getElementById("mobileConfirm").focus();
                return false;
            }
        }
        var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        if (document.getElementById("emailConfirm").value.match(validRegex)) {
            //alert("Valid email address!");
            //document.form1.text1.focus();
            document.getElementById("emailConfirm").focus();
            //return true;
        } else {
            //alert("Invalid email address!");
            //document.form1.text1.focus();
            toastr.warning('Warning', 'Enter Valid Email');
            document.getElementById("emailConfirm").focus();
            return false;
        }

    }
    function showModal() {
        $('#proceedRecharge').modal({ backdrop: 'static', keyboard: false })
    }
    function Closepopup() {
        $('#proceedRecharge').modal('hide');
        $('body').removeClass('modal-open');
        $('body').css('padding-right', '0');
        $('.modal-backdrop').remove();
    }
      function showBalance() {

             var LoginEMail = '@HttpContextAccessor.HttpContext.Session.GetString("LoginEmail")';

            var jsondata = { 'email': LoginEMail };
            //alert(jsondata);
            $.ajax({

                url: '/api/Recharge/getBalance',
                data: JSON.stringify(jsondata),

                dataType: "json",
                type: 'POST',
                contentType: "application/json; charset=utf-8",

                success: function (result) {
                    //alert(result[2]);
                    //console.log(result.username);
                    //console.log(result[0]);
                    document.getElementById('walletbalanceconfirm').value = result[0];
                    document.getElementById('emailConfirm').value = result[1];
                    document.getElementById('nameConfirm').value = result[3];
                    document.getElementById('customermobileConfirm').value = result[2];
                    //alert(result[4]);
                    //document.getElementById('zapcoinsbalanceconfirm').innerHTML = result[4];



                    var Bal = parseFloat(document.getElementById('walletbalanceconfirm').value);
                    var RechAmt = parseFloat(document.getElementById('amountConfirm').value);
                    if (Bal >= RechAmt) {
                        document.getElementById('usedwalletbalanceconfirm').value = RechAmt;
                    }
                    else {
                        document.getElementById('usedwalletbalanceconfirm').value = Bal;
                    }


                },
                beforeSend: function () {
                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                    $('#AjaxLoader').show();
                },
                complete: function () {
                    $('#AjaxLoader').hide();
                }
            })
    }


    $("#ddoperatorelectricity").change(function () {

        document.getElementById('divconsumerno').style.display = 'block';
        document.getElementById('diverrormessage').style.display = 'none';
        document.getElementById('divdetail').style.display = 'none';
        document.getElementById('lblname').innerHTML = '';
        document.getElementById('ElectricityAmount').value = '';
        document.getElementById('lblbilldate').innerHTML = '';
        document.getElementById('lblduedate').innerHTML = '';

        document.getElementById('divoptional1').style.display = 'none';
        document.getElementById('optional1').placeholder = '';
        document.getElementById('optional1').value = '';
        $('#ddoptional1').empty();
        document.getElementById('optional1Type').value = '';


        document.getElementById('divoptional2').style.display = 'none';
        document.getElementById('optional2').placeholder = '';
        document.getElementById('optional2').value = '';
        $('#ddoptional2').empty();
        document.getElementById('optional2Type').value = '';

        document.getElementById('divoptional3').style.display = 'none';
        document.getElementById('optional3').placeholder = '';
        document.getElementById('optional3').value = '';
        $('#ddoptional3').empty();
        document.getElementById('optional3Type').value = '';

        document.getElementById('divoptional4').style.display = 'none';
        document.getElementById('optional4').placeholder = '';
        document.getElementById('optional4').value = '';
        $('#ddoptional4').empty();
        document.getElementById('optional4Type').value = '';



        var cid = $('#ddoperatorelectricity').find(":selected").val();
        var jsondata = { 'operatorId': cid };
        //alert(jsondata);
        $.ajax({

            url: '/api/Recharge/getOperatorDetail',
            data: JSON.stringify(jsondata),

            dataType: "json",
            type: 'POST',
            contentType: "application/json; charset=utf-8",

            success: function (result) {
                //alert(result);
                //console.log(result.d);

                //toastr.success('Success', result.d);
                document.getElementById('consumerno').placeholder = result[0];
                document.getElementById('lbldisplaynote').innerHTML = result[1];

                if (result[2] != '') {

                    document.getElementById('divoptional1').style.display = 'block';
                    document.getElementById('optional1').placeholder = result[2];

                    //alert(result[6]);
                    document.getElementById('optional1Type').value = result[6]
                    if (result[6] == 'textbox') {
                        document.getElementById('optional1').style.display = 'block';
                        document.getElementById('ddoptional1').style.display = 'none';
                    }
                    else if (result[6] == 'dropdown') {

                        var str = result[7] ;
                        var str_array = str.split(',');

                        $('#ddoptional1').empty();
                        $('#ddoptional1').append('<option value="0">Select ' + result[2]+'</option>');


                        for (var i = 0; i < str_array.length; i++) {
                            // Trim the excess whitespace.
                            str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                            //alert(str_array[i]);

                            $("#ddoptional1").append($("<option></option>").val(str_array[i]).html(str_array[i]));

                            // Add additional code here, such as:

                        }

                        document.getElementById('optional1').style.display = 'none';
                        document.getElementById('ddoptional1').style.display = 'block';

                    }
                }


                if (result[3] != '') {

                    document.getElementById('divoptional2').style.display = 'block';
                    document.getElementById('optional2').placeholder = result[3];

                    //alert(result[8]);
                    document.getElementById('optional2Type').value = result[8]
                    if (result[8] == 'textbox') {
                        document.getElementById('optional2').style.display = 'block';
                        document.getElementById('ddoptional2').style.display = 'none';
                    }
                    else if (result[8] == 'dropdown') {

                        var str = result[9];
                        var str_array = str.split(',');

                        $('#ddoptional2').empty();
                        $('#ddoptional2').append('<option value="0">Select ' + result[3] + '</option>');


                        for (var i = 0; i < str_array.length; i++) {
                            // Trim the excess whitespace.
                            str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                            //alert(str_array[i]);

                            $("#ddoptional2").append($("<option></option>").val(str_array[i]).html(str_array[i]));

                            // Add additional code here, such as:

                        }

                        document.getElementById('optional2').style.display = 'none';
                        document.getElementById('ddoptional2').style.display = 'block';

                    }
                }



                if (result[4] != '') {

                    document.getElementById('divoptional3').style.display = 'block';
                    document.getElementById('optional3').placeholder = result[4];

                    //alert(result[8]);
                    document.getElementById('optional3Type').value = result[10]
                    if (result[10] == 'textbox') {
                        document.getElementById('optional3').style.display = 'block';
                        document.getElementById('ddoptional3').style.display = 'none';
                    }
                    else if (result[10] == 'dropdown') {

                        var str = result[11];
                        var str_array = str.split(',');

                        $('#ddoptional3').empty();
                        $('#ddoptional3').append('<option value="0">Select ' + result[4] + '</option>');


                        for (var i = 0; i < str_array.length; i++) {
                            // Trim the excess whitespace.
                            str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
                            //alert(str_array[i]);

                            $("#ddoptional3").append($("<option></option>").val(str_array[i]).html(str_array[i]));

                            // Add additional code here, such as:

                        }

                        document.getElementById('optional3').style.display = 'none';
                        document.getElementById('ddoptional3').style.display = 'block';

                    }
                }

            },
            beforeSend: function () {
                                                                                                    /*$("#ddoperatormobile").html('Loading...')*/;
                $('#AjaxLoader').show();
            },
            complete: function () {
                $('#AjaxLoader').hide();
            }
        })

    });
    </script>
}
@section MobileHeader{
    Water Bill Payment Online
}